{{define "content"}}
<h2>Printers</h2>

{{if .Printers}}
<table class="printers">
<thead>
<tr>
<th scope="col">Name</th>
<th scope="col">Transport</th>
<th scope="col">Address</th>
<th scope="col">Width (dots)</th>
<th scope="col">DPI</th>
<th scope="col">Cut</th>
<th scope="col">Partial cut</th>
<th scope="col">Status</th>
</tr>
</thead>
<tbody>
{{range .Printers}}
<tr>
<td>{{.Name}}</td>
<td>{{.Transport}}</td>
<td>{{.Address}}</td>
<td>{{.WidthDots}}</td>
<td>{{.DPI}}</td>
<td>{{.Cut}}</td>
<td>{{.PartialCut}}</td>
<td>{{.Status}}</td>
</tr>
{{end}}
</tbody>
</table>
{{else}}
<p>No printers configured.</p>
{{end}}
{{end}}
